@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "PT Serif", serif;
}

input[type="radio"] {
    accent-color: #232323;
}

input[type="checkbox"] {
    accent-color: #232323;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.float-label-input {
    margin: 20px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
    transform: translateY(-1.5rem) scale(0.75);
    background-color: white;
}
